<widget xmlns="http://www.w3.org/TR/widgets/" xmlns:palette="http://palette.ercim.org/ns/" width="600" height="600" id="MMIS115_25">


    <title>Geography quiz</title>
	<author url="" email="oblazek@student.tugraz.at">Ondrej Blazek</author>
	<author url="" email="critzen@student.tugraz.at">Cecilia Ritzen</author>
    <description>Geography Quiz widget</description>
	<icon src="icon.png" width="16" height="16"/>

	<content src="dist/index.html"/>
	
	<palette:preferences>
		<palette:preference name="lang" display_name="Language" datatype="enumeration" default_value="en">
			<palette:enumeration value="en" display_value="English"/>
			<palette:enumeration value="de" display_value="Deutsch"/>
		</palette:preference>
	</palette:preferences>
</widget>